{% extends "base.html" %}
{% block title %}Calculate{% endblock title %}
{% block header %}Calculate{% endblock header %}
  
{% block content %}
    <body>
        <section class="container_contacts">
                        <div class="container_cont">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input class="btn btn-outline-info" type="Submit" name="submit" value="Calculate"/>
                            </form>
                            <div class="links">
                                <label>Choose the packet version:</label>
                                {{ form.packet }}
                            </div>
                            <div class="links">
                                <label>Input quantity of Subscribers:</label>
                                {{ form.subscribers }}
                            </div>
                            <div class="links">
                                <label>Choose the version of PoC:</label>
                                {{ form.server_poc }}
                            </div>
                            <div class="links">
                                <label>Quantity of eNodeB all:</label>
                                {{ form.enodeb_all }}
                            </div>
                            <div class="links">
                                <label>Quantity of Non-Telrad eNodeB:</label>
                                {{ form.non_telrad_enodeb }}
                            </div>
                            <div class="links">
                                <label>Quantity of 42U:</label>
                                {{ form.add_42U }}
                            </div>
                            <div class="links">
                                <label>Quantity of 7U box:</label>
                                {{ form.add_7ubox }}
                            </div>
                            <div class="links">
                                <label>Quantity of Roters:</label>
                                {{ form.add_router }}
                            </div>
                            <div class="links">
                                <label>Quantity of SGW:</label>
                                {{ form.add_SGW }}
                            </div>
                            <div class="links">
                                <label>Quantity of RWG:</label>
                                {{ form.add_RGW }}
                            </div>
                            <div class="links">
                                <label>Quantity of eSFP +10G:</label>
                                {{ form.add_sfp }}
                            </div>
                            <div class="links">
                                <label>Quantity of L2 service:</label>
                                {{ form.add_l2 }}
                            </div>
                            <div class="links">
                                <label>Quantity of BTS:</label>
                                {{ form.bts }}
                            </div>
                            <div class="links">
                                <label>Quantity of distr BTS:</label>
                                {{ form.bts_d }}
                            </div>
                            <div class="links">
                                <label>Quantity of Terminals:</label>
                                {{ form.terminals }}
                            </div>
                        </div>  
                        <div class="container_cont">
                            <form action="/show_result" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-outline-info" type="submit">Show Solution</button>
                            </form>              
                            {% if submitbutton == "Calculate" %}
                            <p><font size="4">Packet is: <b>{{ packet }}</b></font></p>
                            <p><font size="4">Subscribers is: <b>{{ subscribers }}</b></font></p>
                            <p><font size="4">eNodeB all is: <b>{{ enodeb_all }}</b></font></p>
                            <p><font size="4">Non Telrad eNodeB is: <b>{{ non_telrad_enodeb }}</b></font></p>
                            <p><font size="4">42U is: <b>{{ add_42U }}</b></font></p>
                            <p><font size="4">7U box is: <b>{{ add_7ubox }}</b></font></p>
                            <p><font size="4">Router is: <b>{{ add_router }}</b></font></p>
                            <p><font size="4">SGW is: <b>{{ add_SGW }}</b></font></p>
                            <p><font size="4">RGW is: <b>{{ add_RGW }}</b></font></p>
                            <p><font size="4">SFP 10G+ is: <b>{{ add_sfp }}</b></font></p>
                            <p><font size="4">L2 servoce is: <b>{{ add_l2 }}</b></font></p>
                            <p><font size="4">BTS is: <b>{{ bts }}</b></font></p>
                            <p><font size="4">BTS distributed is: <b>{{ bts_d }}</b></font></p>
                            <p><font size="4">Terminals is: <b>{{ terminals }}</b></font></p>
                            {% endif %}
                        </div>
        </section>
    </body>
{% endblock content %}
