{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Обязательные мета-теги -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap, иконки и шрифт -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>   
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
   {% if title %}
       <title>{{ title }}</title>
   {% else %}
       <title>Trialink Database</title>
   {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-blue fixed-top">
        <div class="container">
         <a class="navbar-brand mr-4" href="{% url 'trialink' %}"><i class='bx bxs-rocket bx-tada-hover'></i> Trialink</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
             <a class="nav-item nav-link " href="{% url 'home' %}">Main</a>
             <a class="nav-item nav-link " href="{% url 'table' %}">Solutions</a>
             <a class="nav-item nav-link " href="{% url 'cs' %}">Commercial solution</a>
             <a class="nav-item nav-link " href="{% url 'contacts' %}">Contacts</a>
             <a class="nav-item nav-link " href="{% url 'news' %}">News</a>
             <a class="nav-item nav-link " href="{% url 'about' %}">About</a>
            </div>
           <!-- Правая часть навигационной панели -->
            <div class="navbar-nav">
             {% if user.is_authenticated %}
               <a class="nav-item nav-link" href="{% url 'profile' %}">Logged by: {{ user.username }}</a>
               <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
               <a class="nav-item nav-link" href="{% url 'logout' %}">Exit</a>
             {% else %}
               <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
               <a class="nav-item nav-link" href="{% url 'register' %}">Registration</a>
             {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
  <!-- Правая часть панели по обновлению данных из mySQL сУБД, и время обновления. + текущее время -->
  <main class="container">
    <div class="links">
      <a class ="nav-item nav-link" href="{% url 'table' %}" align ="left"> Solutions </a>
      <div class="container_contacts">
          <a class= "nav-item nav-link" href="{% url 'update' %}" align ="right">Update DB info
          <h6 class="text-muted">Database Updated: {{date}}</h6> <!--время и дата обновления данных из сУБД -->
          <h6 class="text-muted">Now: {% now "j N Y" %} {% now "G:i" %}</h6> <!--  текущее время -->
          </a>
      </div>
    </div> 
    <br /><br /><br />
        <section class="container">
          <section align="center" class="container_contacts">
              <section>
                  <a href="{% url 'terminals' %}">
                  <img src="/media/terminal.png" alt="Terminals">
                  <h5>Terminals</h5>
                  </a>
              </section>
            
              <section>
                  <a href="{% url 'bts' %}">
                  <img src="/media/bts.png" alt="BTS">
                  <h5>BTS</h5>
                  </a>
              </section>   
        
              <section>
                  <a href="{% url 'servers' %}">
                  <img src="/media/server.png" alt="Servers">
                  <h5>Servers</h5>
                  </a>
              </section>

              <section>
                  <a href="{% url 'services' %}">
                  <img src="/media/services.jpg" alt="Services">
                  <h5>Services</h5>
                  </a>
              </section>

              <section>
                  <a href="{% url 'test' %}">
                  <img src="/media/default.jpg" alt="TEST">
                  <h5>test</h5>
                  </a>
              </section>
            
              <section>
                  <a href="{% url 'test2' %}">
                  <img src="/media/admin.jpg" alt="TEST2">
                  <h5>test2</h5>
                  </a>
              </section>
          </section>
        </section>
        {% block content %}
        {% endblock content %} 
  </main>
  <!-- Футер закреплен внизу, независимо от количества постов на страни -->
  <footer role = "contentinfo" class="text-center bg-dark">
    <p><a href="{% url 'trialink' %}">Trialink corp. 2022. All rights reserved.</a></p>
  </footer>

 <!-- Дополнительные скрипты JavaScript -->
 <!-- Сначала jQuery, затем Popper.js, последним Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>


