{% extends "base.html" %}
{% block title %}Contacts{% endblock title %}
{% block header %}Contacts{% endblock header %}
  
{% block content %}
    <h1>Trialink DB contacts: </h1>
    <p>       admin : 
    <br />    <a href="mailto:y.marusejcev@trialink.ru"> y.marusejcev@trialink.ru </a>
    <br />    <a href="tel:+79175576866">+7 (917)557-68-66 </a>
    </p>
    <footer class=" navbar navbar-expand-md navbar-light fixed-bot" >
        <div class="container middle">
            <div class="container" >
            <h4 class="ct-headline ">адрес:</h4>
                <div class="container" >
                    <p>117105, г. Москва, Варшавское шоссе д.1 с1,
                    <br />W-Plaza, офис 702B
                    </p>                    
                </div>
            </div>
            <div class="container" >
            <h4 class="ct-headline text-center">контакты:</h4>
                <div class="container" >
                    <p>Телефон: <a href="tel:+74952321132">+7(495)232-11-32</a>
                        <br />E-Mail: 
                        <a href="mailto:info@trialink.ru">info@trialink.ru</a>
                    </p>
                </div>
            </div>
            <div class="container" >
            <h4 class="ct-headline text-center" >продуктовые сайты:</h4>
                <div class="container" >
                    <p>
                        <a class="nav-item nav-link" href="http://www.mars-arsenal.ru/" rel="noopener">mars-arsenal.ru</a>
                        <a class="nav-item nav-link" href="http://mars-mm.ru/" rel="noopener">mars-mm.ru</a>
                        <a class="nav-item nav-link" href="http://sodiaq.ru//" rel="noopener">sodiaq.ru</a>
                        <a class="nav-item nav-link" href="http://ronet.one/" rel="noopener">ronet.one</a>
                        <a class="nav-item nav-link" href="http://xterapmr.ru/" rel="noopener">xterapmr.ru</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>  
{% endblock content %}