{% extends "base.html" %}
{% block title %}Contacts{% endblock title %}
{% block header %}Contacts{% endblock header %}
  
{% block content %}
    <h1>Trialink DB contacts: </h1>
    <p>       admin : 
    <br />    <a href="mailto:y.marusejcev@trialink.ru"> y.marusejcev@trialink.ru </a>
    <br />    <a href="tel:+79175576866">+7 (917)557-68-66 </a>
    </p>
    <main class="links" >
        <h4 >Адрес:</h4>
        <div class="content">
            <div class="container" >
                <br/><br/>117105, г. Москва, Варшавское шоссе д.1 с1,
                <br/><br/>W-Plaza, офис 702B                       
            </div>
        </div>
        <h4>Контакты:</h4>
        <div class="content">
            <div class="container" >
                <br/><br/>Телефон: 
                <a href="tel:+74952321132">+7(495)232-11-32</a>
                <br/><br/>E-Mail: 
                <a href="mailto:info@trialink.ru">info@trialink.ru</a>
            </div>
        </div>
        <h4>Продуктовые сайты: </h4>
        <div class="content">
            <div class="container" >
                <br/><br/>
                    <a class="nav-item nav-link" href="http://www.mars-arsenal.ru/">mars-arsenal.ru</a>
                    <a class="nav-item nav-link" href="http://mars-mm.ru/" >mars-mm.ru</a>
                    <a class="nav-item nav-link" href="http://sodiaq.ru//">sodiaq.ru</a>
                    <a class="nav-item nav-link" href="http://ronet.one/">ronet.one</a>
                    <a class="nav-item nav-link" href="http://xterapmr.ru/">xterapmr.ru</a>
            </div>
        </div>
    </main>  
{% endblock content %}