{% extends "base.html" %}
{% block title %}Contacts{% endblock title %}
{% block header %}Contacts{% endblock header %}
  
{% block content %}
    <h1 align="center">Trialink DB contacts </h1>
    <body>
        <br />
        <section class="container_contacts">
            <div class="container_cont">
                <h5>Address:</h5>
                117105, г. Москва, Варшавское шоссе д.1 с1,
                <br />
                W-Plaza, офис 702B                       
            </div>
            <div class="container_cont">
                <h5>Contacts Trialink:</h5>
                Телефон: 
                <a href="tel:+74952321132">+7(495)232-11-32</a>
                <br/>E-Mail: 
                <a href="mailto:info@trialink.ru">info@trialink.ru</a>
            </div>
            <div class="container_cont">
                <h5>Product sites: </h5>
                <a class="nav-item nav-link" href="http://www.mars-arsenal.ru/">mars-arsenal.ru</a>
                <a class="nav-item nav-link" href="http://mars-mm.ru/" >mars-mm.ru</a>
                <a class="nav-item nav-link" href="http://sodiaq.ru//">sodiaq.ru</a>
                <a class="nav-item nav-link" href="http://ronet.one/">ronet.one</a>
                <a class="nav-item nav-link" href="http://xterapmr.ru/">xterapmr.ru</a>
            </div>
            <div class="container_cont">
                <h5>DB admin:</h5>
                    <a href="mailto:y.marusejcev@trialink.ru"> y.marusejcev@trialink.ru </a>
                    <br />
                    <a href="tel:+79175576866">+7 (917)557-68-66 </a>
            </div>
        </section>
    </body> 
{% endblock content %}
