{% extends "base.html" %}
{% block title %}Contacts{% endblock title %}
{% block header %}Contacts{% endblock header %}
  
{% block content %}
    <h1 align="center">Trialink Commercial solution</h1>
    <body>
        <br />
        <section class="hash-adapt">
            <form action="" method="POST">
                <div class="input-group">
                    <input id="packet" type='number' max="2" min ="1" name="packet"/>
                    <label for="packet">Choose packet 1 or 2 (150 or 1000 subs)</label>
                </div>
            </form>
            <form action="" method="POST">
                <div class="input-group">
                    <input type='number' max="2000" min ="1" name="subscribers"/>
                    <label>Subscribers</label>
                </div>
            </form>
            <form action="" method="POST">
                <div class="input-group">
                    <input type='number' max="2000" min ="0" name="enodeball"/>
                    <label>eNodeB (all)</label>
                </div>
            </form>
            <form action="" method="POST">
                <div class="input-group">
                    <input type='number' max="2000" min ="0" name="nontelradenodeb"/>
                    <label>non-Telrad eNodeB</label>
                </div>
            </form>
            <form action="" method="POST">
                <div class="input-group">
                    <input type='number' max="2000" min ="0" name="bts"/>
                    <label>BTS</label>
                </div>
            </form>
            <form action="" method="POST">
                <div class="input-group">
                    <input type='number' max="2000" min ="0" name="bts_d"/>
                    <label>BTS distributed</label>
                </div>
            </form>
            <form action="/views.py" method="POST">
                <div class="input-group">
                    <input type='number' max="2000" min ="0" name="terminals"/>
                    <label>Terminals</label>
                </div>
            </form>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-outline-info" type="submit" name="submit" value="submit" />
            </form>
            {% if user.is_authenticated %}
                <h6>packet {{ packet }}</h6>
                <h6>subscribers {{ subscribers }}</h6>
                <h6>enodeball {{ enodeball }}</h6>
                <h6>nontelradenodeb {{ nontelradenodeb }}</h6>
                <h6>bts {{ bts }}</h6>
                <h6>bts_d {{ bts_d }}</h6>
                <h6>terminals {{ terminals }}</h6>
            {% else %}
                <h1> TEST 2</h1>
            {% endif %}
        </section>
    </body> 
{% endblock content %}
