{% extends "base.html" %}
{% block title %}Calculate{% endblock title %}
{% block header %}Calculate{% endblock header %}
  
{% block content %}
    <body>
        <section class="container_contacts">
                <div class="container_cont">
                    <form action="" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input class="btn btn-outline-info" type="Submit" name="submit" value="Calculate"/>
                    </form>
                </div>    
                <div class="container_cont">            
                    {% if submitbutton == "Calculate" %}
                        <h4>Your inputted these values:</h4>
                        <p><font size="4">Packet is: <b>{{ packet }}</b></font></p>
                        <p><font size="4">Subscribers is: <b>{{ subscribers }}</b></font></p>
                        <p><font size="4">eNodeB all is: <b>{{ enodeb_all }}</b></font></p>
                        <p><font size="4">Non Telrad eNodeB is: <b>{{ non_telrad_enodeb }}</b></font></p>
                        <p><font size="4">BTS count is: <b>{{ bts }}</b></font></p>
                        <p><font size="4">BTS distributed is: <b>{{ bts_d }}</b></font></p>
                        <p><font size="4">Terminals is: <b>{{ terminals }}</b></font></p>
                    {% endif %}
                    <form action="/show_result" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-info" type="submit">Show Solution</button>
                    </form>
                </div>
        </section>
    </body>
{% endblock content %}
