{% extends "base.html" %}
{% block title %}Main{% endblock title %}
{% block header %}Main{% endblock header %}

{% block content %}
<h1 align="center">Trialink Database 2022</h1>
    <body>
    <section class="container">
        <div class="links">
          <p>Moscow</p>
          <h6>Today: {% now "j N Y" %} {% now "G : i" %}</h6>
        </div>
        <br />
        <h2 >WELCOME!</h2>
        <br />
        <section align="center" class="container_contacts">
          <section>
            <a href="{% url 'contacts' %}">
              <h5>Contacts</h5>
              <h3>Trialink communications</h3>
            </a>
            <p>write to us.</p>
          </section>
          
          <section>
            <a href="{% url 'news' %}">
              <h5>News</h5>
              <h3>Trialink News</h3>
            </a>
            <p>What is new on company?</p>
          </section>   
      
          <section>
            <a href="{% url 'about' %}">
              <h5>About</h5>
              <h3>Trialink about</h3>
            </a>
            <p>??????</p>
          </section>
        </section>
        <br />
        <p>Check our solutions!</p>
        {% if user.is_authenticated %}
        <ul class="container_table">
          <a class="nav-item nav-link " href="{% url 'terminals' %}">Terminals</a>
          <a class="nav-item nav-link " href="{% url 'bts' %}">BTS</a>
          <a class="nav-item nav-link " href="{% url 'servers' %}">Servers</a>
          <a class="nav-item nav-link " href="{% url 'services' %}">Services</a>
          <a class="nav-item nav-link " href="{% url 'test' %}">Test</a>
          <a class="nav-item nav-link " href="{% url 'test2' %}">Test2</a>
        </ul>
        {% else %}
        <div class ="container_table">
          <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
          <a class="nav-item nav-link" href="{% url 'register' %}">Registration</a>
        </div>
        {% endif %}
      </section>
    </body>
{% endblock content %}






