{% extends "base_table.html" %}
{% block title %}Tables{% endblock title %}
{% block header %}Tables{% endblock header %}

{% block content %}
    <body>
    <br />
    <h1 align="center">Trialink Database 2022</h1>
    <br />
    <section class="container">
        <section align="center" class="container_contacts">
            <section>
                <a href="{% url 'terminals' %}">
                <h5>Terminals</h5>
                <img src="/media/terminals.jpg" alt="Terminals">
                <h3>Terminals</h3>
                </a>
            </section>
          
            <section>
                <a href="{% url 'bts' %}">
                <h5>BTS</h5>
                <h3>Trialink</h3>
                </a>
            </section>   
      
            <section>
                <a href="{% url 'servers' %}">
                <h5>Servers</h5>
                <h3>Trialink</h3>
                </a>
            </section>

            <section>
                <a href="{% url 'services' %}">
                <h5>Services</h5>
                <h3>Trialink</h3>
                </a>
            </section>

            <section>
                <a href="{% url 'test' %}">
                <h5>test</h5>
                <h3>Trialink</h3>
                </a>
            </section>
          
            <section>
                <a href="{% url 'test2' %}">
                <h5>test2</h5>
                <h3>Trialink</h3>
                </a>
            </section>

        </section>
    </section>
    </body>
{% endblock content %}