{% extends "base.html" %}
{% block title %}News{% endblock title %}
{% block header %}News{% endblock header %}
  
{% block content %}
<body>
    <h1 align="center">Trialink DB last news</h1>
    <dl class="container">
      <dd>This is a snippet of the news.
      <dt>News Heading 2</dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
      <dt>News Heading 3</dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
      <dt>News Heading 4</dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
      <dt class="heading">This item is long!</dt>
      <dd class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </dl>
    <script type=”text/javascript” src=”jquery-1.3.2.js”></script>
    <script type=”text/javascript”></script>
</body>
{% endblock content %}