{% extends "base.html" %}
{% block title %}Database{% endblock title %}
{% block header %}About{% endblock header %}
  
{% block content %}
    <h1>Trialink DB</h1>
    <a id="link-8-15" class="ct-link oxel_back_to_top_container" href="#top" target="_self"  >
        <div id="code_block-9-15" class="ct-code-block" ><!-- --></div>
        <div id="fancy_icon-10-15" class="ct-fancy-icon oxel_back_to_top_icon" >
            <svg id="svg-fancy_icon-10-15">
                <use xlink:href="#FontAwesomeicon-angle-up"></use>
            </svg>
        </div>
    </a>
    <footer id="section-1-12" class=" ct-section" >
        <div class="ct-section-inner-wrap">
            <div id="div_block-4-12" class="ct-div-block footer__line" >  
            </div>
            <div id="div_block-2-12" class="ct-div-block container__footer" >
                <div id="div_block-9-12" class="ct-div-block" >
                    <div id="div_block-6-12" class="ct-div-block footer__item" >
                        <h4 id="headline-14-12" class="ct-headline">адрес:</h4>
                        <div id="_rich_text-16-12" class="oxy-rich-text" >
                            <p>117105, г. Москва, Варшавское шоссе д.1 с1,<br />W-Plaza, офис 702B</p>
                        </div>
                    </div>
                    <div id="div_block-28-12" class="ct-div-block footer__item" >
                        <h4 id="headline-29-12" class="ct-headline">контакты:</h4>
                        <div id="_rich_text-30-12" class="oxy-rich-text" >
                            <p>Телефон: <a href="tel:+74952321132">+7(495)232-11-32</a>
                                <br />E-Mail: 
                                <a href="mailto:info@trialink.ru">info@trialink.ru</a>
                            </p>
                        </div>
                    </div>
                    <div id="div_block-31-12" class="ct-div-block footer__item" >
                        <h4 id="headline-32-12" class="ct-headline">продуктовые сайты:</h4>
                        <div id="div_block-37-12" class="ct-div-block" >
                            <div id="_rich_text-33-12" class="oxy-rich-text" >
                                <p><a href="http://www.mars-arsenal.ru/" target="_blank" rel="noopener">mars-arsenal.ru</a>
                                    <br />
                                    <a href="http://mars-mm.ru/" target="_blank" rel="noopener">mars-mm.ru</a>
                                    <br />
                                    <a href="http://sodiaq.ru//" target="_blank" rel="noopener">sodiaq.ru</a>
                                </p>
                            </div>
                            <div id="_rich_text-38-12" class="oxy-rich-text" >
                                <p><a href="http://ronet.one/" target="_blank" rel="noopener">ronet.one</a>
                                    <br />
                                    <a href="http://xterapmr.ru/" target="_blank" rel="noopener">xterapmr.ru</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="code_block-18-13" class="ct-code-block" > 
{% endblock content %}




