{% extends "base_table.html" %}
{% block title %}Test Tables{% endblock title %}
{% block header %}Test Tables{% endblock header %}
  
{% block content %}
  <h3><br/>Ronet Test Table 2</h3>
  <div class="links">
    <div class="content">
      <div class="container">
        some content some content some content some content some content some content some content some content some content
      </div>
    </div>
    <div class="content">
      <div class="container">
       some content some content some content some content some content some content some content some content some content
       some content some content some content some content some content some content some content some content some content
      </div>
    </div>
    <div class="content">
      <div class="container">
        <p>some content some content some content some content some content some content some content some content some content </p>
      </div>
    </div>
  </div>
{% endblock content %}
